body {
  font-family: "nanumsquare";
}

.list {
  padding-left: 20px;
}
.publish {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.publish input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(170, 68, 68);
}
.publish button {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.modalbutton {
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(151, 226, 12);
  color: #417b8d;
  border-radius: 20pt;
}
.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
}
.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: center;
}
